html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    width: 100%;
}

#heading {
    display: flex;
    box-sizing: border-box;
    background-color: #bdf982;
    color: #1f8649;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-shadow: 2px 0 15px #033b1389;
    width: 100%;
    padding: 10px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#corpo {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    width: 100%;
    background-color: #bdf982;
    /*overflow: auto;*/
    min-height: 550px;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 225px;
    color: #1f8649;
    padding: 0px 10px 10px 10px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    font-size: 12px;
    box-sizing: border-box;
}

iframe {
    display: flex;
    flex: 1; /* Faz o iframe ocupar o espaço restante do corpo */
    width: 100%; /* Ocupa toda a largura disponível */
    min-width: 600px; /* Define a largura mínima de 600px */
    min-height: 500px;
    height: 100%; /* Ocupa toda a altura disponível */
    border: none;
}

#footer {
    color: #555;
    text-align: justify;
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    #menu {
        display: none;
    }
}

/* Responsividade */
@media (max-width: 480px) {
    #heading {
        display: none;
    }
}